@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap');

:root {
--white: #F8F8FF;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  font-family: 'Oswald', sans-serif;  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.banner {
  background-color: #630F0F;
  color: #F8F8FF;
  display: flex;
  justify-content: space-between;
  height: 70px;
}