#library {
  background-color: #557D68;
  color: #F8F8FF;
  display: grid;
  grid-template-columns: min-content 15px auto auto;
  grid-template-rows: auto auto 100%;
  top: 0;
  bottom: 0;
  height: calc(100vh - 70px);
  overflow-y: hidden;
}

.gameList {
  grid-column: 3 / 5;
  grid-row: 3 / 4;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: scroll;
  padding-bottom: 100px;
  justify-content: space-evenly;
}

.gameList::-webkit-scrollbar-thumb {
  background-color: #333;
}

.libraryHeader {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.addGame {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
  align-self: center;
  justify-self: end;
  margin-right: 5px;
  background-color: var(--white);
  color: black;
  border: 1px solid black;
  border-radius: 10px;
}

.addGame.mobile {
  margin-top: 10px;
  grid-row: 1 / 2;
}

.gameCard {
  background-color: #F8F8FF;
  margin: 5px;
  color: black;
  display: grid;
  width: 300px;
  height: 475px;
  grid-template-columns: 6% 44% 21% 13% 10% 6%;
  grid-template-rows: 4% 10% 30% auto 1% 4% auto auto 4%;
  border: 2px solid black;
  border-radius: 10px;
  grid-column: 3 / 5;
  grid-row: 2 / 3;
}
.gameImage {
  grid-column: 2 / 6;
  grid-row: 2 / 4;
  align-self: center;
  justify-self: center;

}

.favoriteButton {
  grid-column: 5 / 6;
  grid-row: 2 / 3;
}

.gameName {
  grid-column: 2 / 4;
  grid-row: 4 / 5;
  font-size: 25px;
  font-weight: bold;
  align-items: start;
}

.gamePlayers {
  grid-column: 4 / 6;
  grid-row: 4 / 5;
  justify-self: end;
  align-self: end;
}

.cardDivider {
  grid-column: 2 / 6;
  grid-row: 5 / 6;
  background-color: black;
  /* border-radius: 10px; */
  height: 2px;
  align-self: center;
}

.gameTime {
  grid-column: 2 / 3;
  grid-row: 6 / 7;
}

.gameAge {
  grid-column: 4 / 6;
  grid-row: 6 / 7;
  justify-self: end;
}

.gameDescription {
  grid-column: 2 / 6;
  grid-row: 7 / 8;
  overflow-y: auto;
  text-overflow: ellipsis;
  height: auto;
  margin: 5px 0px;
}

.gameDescription > * {
  text-overflow: ellipsis;
}

.detailButton {
  grid-column: 2 / 3;
  grid-row: 8 / 9;
  font-size: .75rem;
  margin-right: 3px;
  padding: 0px 15px;
  line-height: 1.5;
}

.addToLibrary{
  grid-column: 3 / 6;
  grid-row: 8 / 9;
  font-size: .75rem;
  margin-left: 3px;
  padding: 0px 15px;
  line-height: 1.5;
}

.libraryFilter {
  background-color: #F8F8FF;
  color: black;
  font-size: larger;
  width: 200px;
  height: 100%;
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  padding: 0px 10px;
}

.libraryFilter > * {
  margin: 15px 0px;
}

.filterDivider {
  background-color: black;
  height: 1px;
}

.resetButton {
  width: 100%;
}

.searchResults {
  overflow-y: auto;
  width: fit-content;
  max-height: 500px;
}
.drawer {
  grid-column: 3/4;
  grid-row: 1/2;
  margin-top: 10px;
}
.iconButton {
  /* align-self: center; */
  /* justify-self: end; */
  margin-right: 5px;
  background-color: var(--white);
  color: black;
  border: 1px solid black;
  border-radius: 10px;
}

#game-search-modal {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.search-header {
  width: 75%;
  display: flex;
  justify-content: center;
}
.search-header svg {
  margin-left: 10px;
}