#library {
  background-color: #557D68;
  color: #F8F8FF;
  display: grid;
  grid-template-columns: min-content 15px auto auto;
  grid-template-rows: auto auto 100%;
  top: 0;
  bottom: 0;
  height: calc(100vh - 70px);
  overflow-y: hidden;
}

.libraryBody {
  overflow-y: scroll;
  grid-column: 3 / 5;
  grid-row: 3 / 4;
  width: auto;
  display: flex;
  flex-direction: column;
}

.gameList {
  /* grid-column: 3 / 5;
  grid-row: 3 / 4; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* overflow-y: scroll; */
  padding-bottom: 10px;
  justify-content: space-evenly;
}

.gameList::-webkit-scrollbar-thumb {
  background-color: #333;
}

.libraryHeader {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  display: flex;
  flex-wrap: wrap;
}

.libraryHead {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

.addGame {
  /* grid-column: 4 / 5;
  grid-row: 2 / 3; */
  /* align-self: center; */
  /* justify-self: end; */
  margin-right: 5px;
  background-color: var(--white);
  color: black;
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 21.44px;
  height: min-content;
}

.ProfileToken {
  background-color: var(--white);
  color: black;
  border: 1px solid black;
  border-radius: 10px;
  padding: 0px 5px;
  font-size: 20px;
  justify-content: center;
  margin-right: 5px;
  margin-top: 5px;
  display: grid;
  grid-template-columns: 25px auto;
  width: fit-content;
  align-items: center;
  height: 40px;
}

.profilePicture {
  display: flex;
}

.profileName {
  margin-left: 5px;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.addGame.mobile {
  margin-top: 10px;
  grid-row: 1 / 2;
}

.gameCard {
  background-color: #F8F8FF;
  margin: 5px;
  color: black;
  display: flex;
  flex-direction: column;
  padding: 15px;
  width: 300px;
  height: 475px;
  justify-content: flex-start;
  gap: 5px;
  /* grid-template-columns: 6% 44% 21% 13% 10% 6%;
  grid-template-rows: 4% 10% 30% auto 1% 4% auto auto 4%; */
  border: 2px solid black;
  border-radius: 10px;
  /* grid-column: 3 / 5;
  grid-row: 2 / 3; */
}

.gameImage {
  grid-column: 2 / 6;
  grid-row: 2 / 4;
  align-self: center;
  justify-self: center;

}

.favoriteButton {
  grid-column: 5 / 6;
  grid-row: 2 / 3;
}

.gameName {
  grid-column: 2 / 4;
  grid-row: 4 / 5;
  font-weight: bold;
  align-items: start;
}

.gamePlayers {
  grid-column: 4 / 6;
  grid-row: 4 / 5;
  justify-self: end;
  align-self: end;
}

.cardDivider {
  /* grid-column: 2 / 6;
  grid-row: 5 / 6; */
  background-color: black;
  width: 100%;
  /* border-radius: 10px; */
  height: 2px;
  align-self: center;
}

@font-face {
  font-family: "Rakkas";
  src: "./Rakkas-Regular.ttf";
}

.location {
  padding: 2px;
  border: 1px solid black;
  border-radius: 5px;
  color: white;
  -webkit-text-stroke: black 1px;
  font-size: 28px;
  font-weight: 700;
  font-family: 'Rakkas';
  width: auto;
  /* font-family: 'Courier New', Courier, monospace; */
}

.Lighter {
  background-color: #ffb24d;
}

.Standard {
  background-color: #c1ff72;
}

.Advanced {
  background-color: #2697f4;
}

.Party {
  background-color: #af01a2;
}

.two-Player {
  background-color: #30f0f6;
}

.Co-Op {
  background-color: #ff5757;
}

.Classic {
  background-color: #00b2ad;
}

.gameInfoRow {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.gameTime {
  grid-column: 2 / 3;
  grid-row: 6 / 7;
}

.gameAge {
  grid-column: 4 / 6;
  grid-row: 6 / 7;
  justify-self: end;
}

.gameDescription {
  grid-column: 2 / 6;
  grid-row: 7 / 8;
  /* overflow: clip;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  margin-bottom: 0px; */
  /* padding-bottom: 16px; */
  /* line-height: 1.5;
  max-height: 7.5; */
  overflow-y: hidden;
  height: 100px;
  margin: 5px 0px;
}

.gameDescription>* {
  text-overflow: ellipsis;
}

.cardButtons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  justify-self: flex-end;
}

.detailButton {
  grid-column: 2 / 3;
  grid-row: 8 / 9;
  margin-right: 3px;
}

.addToLibrary {
  grid-column: 3 / 6;
  grid-row: 8 / 9;
  margin-left: 3px;
}

.cardButton {
  font-size: .75rem;
  padding: 0px 15px;
  line-height: 1;
  height: 30px;
  align-self: end;

}

.libraryFilter {
  background-color: #F8F8FF;
  color: black;
  font-size: larger;
  width: 200px;
  height: 100%;
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  padding: 0px 10px;
}

.libraryFilter>* {
  margin: 2px 0px;
}

.filterCategory {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 2px;
}

.selected {
  /* border: 2px solid green !important; */
  background-color: grey;
}

.group {
  display: flex;
  align-items: center;
  gap: 10px;
}


.filterDivider {
  background-color: black;
  height: 1px;
}

.resetButton {
  width: 100%;
}

.searchResults {
  overflow-y: auto;
  width: fit-content;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.drawer {
  grid-column: 3/4;
  grid-row: 1/2;
  margin: 5px 0px;
}

.iconButton {
  /* align-self: center; */
  /* justify-self: end; */
  margin-right: 5px !important;
  background-color: var(--white) !important;
  color: black !important;
  border: 1px solid black !important;
  border-radius: 10px !important;
  font-size: small !important;
}

#game-search-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #557D68;

}

.searchForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5%;
}

.searchTopCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin-left: -10px;
  background-color: var(--red);
  /* background-color: white; */
}

.border {
  border: 1px solid black;
  border-radius: 10px;
}

.borderThick {
  border: 2px solid black;
  border-radius: 10px;
}

.upperRight {
  align-self: end;
}

.search-header {
  width: 75%;
  display: flex;
  justify-content: center;
  margin-top: -10px;
  color: white;
  /* color: black; */
  font-size: 25px;
}

.search-header svg {
  margin-left: 10px;
}

.game-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 90vh;
  width: 80vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 2px solid black;
  padding: 20px;
}

.details-banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.details-banner .iconButton {
  padding: 5px;
  border: 1px solid black;
  border-radius: 15px;
}

.details-banner h2 {
  font-size: 40px;
}

.details-stats {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-top: -50px;
}

.year-published {
  display: flex;
  align-items: center;
  gap: 15px;
  font-weight: 600;
  font-size: 20px;
}

.game-types {
  display: flex;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  width: 35vw;
  align-items: center;
  padding-bottom: 20px;
  gap: 5px;
  flex-wrap: wrap;
}

.game-type {
  padding: 5px;
  border: 1px solid black;
  border-radius: 10px;
}

.game-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  text-decoration: underline;
}

.game-description {
  overflow-y: auto;
  font-size: 18px;
}

:root {
  --bgg-green: #17663d;
  --bgg-green-border: #26a965;
  --bgg-blue: #14608f;
  --bgg-blue-border: #1872aa;
  --bgg-purple: #425482;
  --bgg-purple-border: #3d4e78;
  --bgg-red: #ac141e;
  --bgg-red-border: #a4131c;
}

.hexagon {
  width: 50px;
  height: 28.8675px;
  /* background: red; */
  position: relative;
  /* margin-top: 25px; */
  /* margin-bottom: 25px; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 400;
}

.hexagon::before {
  content: "";
  position: absolute;
  top: -14px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 14.43375px solid;
}

.hexagon::after {
  content: "";
  position: absolute;
  bottom: -14px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 14.43375px solid;
}

.green {
  background: var(--bgg-green);
}

.green::before {
  border-bottom-color: var(--bgg-green-border);
}

.green::after {
  border-top-color: var(--bgg-green-border);
}

.blue {
  background: var(--bgg-blue);
}

.blue::before {
  border-bottom-color: var(--bgg-blue-border);
}

.blue::after {
  border-top-color: var(--bgg-blue-border);
}

.purple {
  background: var(--bgg-purple);
}

.purple::before {
  border-bottom-color: var(--bgg-purple-border);
}

.purple::after {
  border-top-color: var(--bgg-purple-border);
}

.red {
  background: var(--bgg-red);
}

.red::before {
  border-bottom-color: var(--bgg-red-border);
}

.red::after {
  border-top-color: var(--bgg-red-border);
}